body{
    color: black;
}

a{
    color: black;
}
.navbar-inverse .navbar-nav>li>a{
    color: black;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;

}

.navbar-inverse {
    background-color: #66CC66;
}


.row.content {
    height: 450px
}


.sidenav {
    padding-top: 20px;
    background-color: #FF9966;
    height: 100%;
}


footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}